$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #673AB7,
  secondary:  #3F51B5,
  danger:     #F44336,
  light:      #ffffff,
  dark:       #212121
);

$toolbar-md-background: color($colors, secondary);

$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
